<p id="notice"><%= notice %></p>

<div>  
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Departamento</th>
        <th>Preço</th>
      </tr>
    </thead>
    <tbody>
      <%= render @produtos_por_departamento %>
    </tbody>
  </table>
<div>
<%= link_to 'Voltar', departamentos_path %>
